In [6264]:
from __future__ import print_function

import collections

# Import Python wrapper for or-tools CP-SAT solver.
from ortools.sat.python import cp_model

In [6265]:
clever = True
start_test = 0
end_test = 10

In [6266]:
class Solution():
    def __init__(self):
        self.time = []

In [6267]:
class Task():
    def __init__(self):
        self.machine_num = None
        self.job_num = None
        self.task_num  = None
        self.start = None
        self.end = None

In [6268]:
global_sol = Solution()

In [6269]:
def MinimalJobshopSat(jobs_data):
    """Minimal jobshop problem."""
    # Create the model.
    model = cp_model.CpModel()

    machines_count = 1 + max(task[0] for job in jobs_data for task in job)
    all_machines = range(machines_count)
    jobs_count = len(jobs_data)
    all_jobs = range(jobs_count)

    # Compute horizon.
    horizon = sum(task[1] for job in jobs_data for task in job)

    task_type = collections.namedtuple('task_type', 'start end interval')
    assigned_task_type = collections.namedtuple('assigned_task_type',
                                                'start job index')

    # Create jobs.
    all_tasks = {}
    for job in all_jobs:
        for task_id, task in enumerate(jobs_data[job]):
            start_var = model.NewIntVar(0, horizon,
                                        'start_%i_%i' % (job, task_id))
            duration = task[1]
            end_var = model.NewIntVar(0, horizon, 'end_%i_%i' % (job, task_id))
            interval_var = model.NewIntervalVar(
                start_var, duration, end_var, 'interval_%i_%i' % (job, task_id))
            all_tasks[job, task_id] = task_type(
                start=start_var, end=end_var, interval=interval_var)

    # Create and add disjunctive constraints.
    for machine in all_machines:
        intervals = []
        for job in all_jobs:
            for task_id, task in enumerate(jobs_data[job]):
                if task[0] == machine:
                    intervals.append(all_tasks[job, task_id].interval)
        model.AddNoOverlap(intervals)

    # Add precedence contraints.
    for job in all_jobs:
        for task_id in range(0, len(jobs_data[job]) - 1):
            model.Add(all_tasks[job, task_id +
                                1].start >= all_tasks[job, task_id].end)

    # Makespan objective.
    obj_var = model.NewIntVar(0, horizon, 'makespan')
    model.AddMaxEquality(
        obj_var,
        [all_tasks[(job, len(jobs_data[job]) - 1)].end for job in all_jobs])
    model.Minimize(obj_var)

    # Solve model.
    solver = cp_model.CpSolver()
    status = solver.Solve(model)

    if status == cp_model.OPTIMAL:
        # Print out makespan.
        print('Optimal Schedule Length: %i' % solver.ObjectiveValue())
        print()

        # Create one list of assigned tasks per machine.
        assigned_jobs = [[] for _ in all_machines]
        for job in all_jobs:
            for task_id, task in enumerate(jobs_data[job]):
                machine = task[0]
                assigned_jobs[machine].append(
                    assigned_task_type(
                        start=solver.Value(all_tasks[job, task_id].start),
                        job=job,
                        index=task_id))

        disp_col_width = 10
        sol_line = ''
        sol_line_tasks = ''

        print('Optimal Schedule', '\n')

        for machine in all_machines:
            # Sort by starting time.
            assigned_jobs[machine].sort()
            sol_line += 'Machine ' + str(machine) + ': '
            sol_line_tasks += 'Machine ' + str(machine) + ': '

            for assigned_task in assigned_jobs[machine]:
                name = 'job_%i_%i' % (assigned_task.job, assigned_task.index)
                # Add spaces to output to align columns.
                sol_line_tasks += name + ' ' * (disp_col_width - len(name))
                start = assigned_task.start
                duration = jobs_data[assigned_task.job][assigned_task.index][1]

                sol_tmp = '[%i,%i]' % (start, start + duration)
                # Add spaces to output to align columns.
                #sol_line += sol_tmp + ' ' * (disp_col_width - len(sol_tmp))
                sol_line += sol_tmp + ' '

                
            sol_line += '\n'
            sol_line_tasks += '\n'

        print(sol_line_tasks)
        print('Task Time Intervals\n')
        print(sol_line)
        global_sol.sol_line_tasks = sol_line_tasks.split()
        global_sol.sol_line = sol_line.split()
        global_sol.time.append(solver.ObjectiveValue())

In [6270]:
jobs_data = [  # task = (machine_id, processing_time).
    [(0, 3), (1, 2), (2, 2)],  # Job0
    [(0, 2), (2, 1), (1, 4)],  # Job1
    [(1, 4)]  # Job2
]
#MinimalJobshopSat(jobs_data)

In [6271]:
global_obtained_sol = []

In [6272]:
def obtain_sol_line_tasks():
    cur_machine_num = None
    cur_task = None
    for k in range(len(global_sol.sol_line_tasks)):
        i = global_sol.sol_line_tasks[k]
        j = global_sol.sol_line[k]
        if ':' in i:
            cur_machine_num = i[:-1]
        elif 'job' in i:
            cur_task = Task()
            job_info = i.split('_')
            cur_task.task_num = int(job_info[2])
            cur_task.job_num = int(job_info[1])
            cur_task.machine_num = int(cur_machine_num)
            
            time_info = global_sol.sol_line[k][1:-1].split(',')
            start, end = int(time_info[0]), int(time_info[1])
            cur_task.start = start
            cur_task.end = end
            global_obtained_sol.append(cur_task)

In [6273]:
#obtain_sol_line_tasks()

In [6274]:
def check(sol):
    for task in sol:
        print('job {j}, task {t}, machine {m}, start {s}, end {e}'.format(
                    t=str(task.task_num),
                    m=str(task.machine_num),
                    j=str(task.job_num),
                    s=str(task.start),
                    e=str(task.end)
        ))

In [6275]:
#check(global_obtained_sol)

In [6276]:
import plotly
import plotly.plotly as py
import plotly.figure_factory as ff
plotly.tools.set_credentials_file(username='PashaFedosov', api_key='q65kw4sKFKSqdKVvVRO2')

In [6277]:
def create_data_frame(start, end):
    import datetime
    the_start = datetime.datetime(2019, 2, 24)
    s = the_start + datetime.timedelta(seconds=start*60)
    e = the_start + datetime.timedelta(seconds=end*60)
    
    start = str(s)
    end = str(e)
    
    return (start, end)

In [6278]:
'''
df = []
for task in global_obtained_sol:
    data = create_data_frame(task.start, task.end)
    df.append(dict(
        Task=str(task.machine_num),
        Start=data[0],
        Finish=data[1],
        Resource=task.job_num
    ))

colors = {
    0: 'rgb(0, 0, 0)',
    1: 'rgb(128, 0, 128)',
    2: 'rgb(255, 0, 0)',
    3: 'rgb(0, 255, 0)',
    4: 'rgb(0, 0, 255)',
    5: 'rgb(255, 255, 0)',
    6: 'rgb(0, 255, 255)',
    7: 'rgb(255, 0, 255)',
    8: 'rgb(192, 192, 192)',
    9: 'rgb(128, 128, 128)',
    10: 'rgb(128, 0, 0)'
}


fig = ff.create_gantt(df, colors=colors, index_col='Resource', show_colorbar=True, group_tasks=True)
py.iplot(fig, filename='gantt-group-tasks-together', world_readable=True)
'''

"\ndf = []\nfor task in global_obtained_sol:\n    data = create_data_frame(task.start, task.end)\n    df.append(dict(\n        Task=str(task.machine_num),\n        Start=data[0],\n        Finish=data[1],\n        Resource=task.job_num\n    ))\n\ncolors = {\n    0: 'rgb(0, 0, 0)',\n    1: 'rgb(128, 0, 128)',\n    2: 'rgb(255, 0, 0)',\n    3: 'rgb(0, 255, 0)',\n    4: 'rgb(0, 0, 255)',\n    5: 'rgb(255, 255, 0)',\n    6: 'rgb(0, 255, 255)',\n    7: 'rgb(255, 0, 255)',\n    8: 'rgb(192, 192, 192)',\n    9: 'rgb(128, 128, 128)',\n    10: 'rgb(128, 0, 0)'\n}\n\n\nfig = ff.create_gantt(df, colors=colors, index_col='Resource', show_colorbar=True, group_tasks=True)\npy.iplot(fig, filename='gantt-group-tasks-together', world_readable=True)\n"

In [6279]:
'''
df = []
for task in global_obtained_sol:
    data = create_data_frame(task.start, task.end)
    df.append(dict(
        Task=str(task.job_num),
        Start=data[0],
        Finish=data[1],
        Resource=task.machine_num
    ))

colors = {
    0: 'rgb(0, 0, 0)',
    1: 'rgb(128, 0, 128)',
    2: 'rgb(255, 0, 0)',
    3: 'rgb(0, 255, 0)',
    4: 'rgb(0, 0, 255)',
    5: 'rgb(255, 255, 0)',
    6: 'rgb(0, 255, 255)',
    7: 'rgb(255, 0, 255)',
    8: 'rgb(192, 192, 192)',
    9: 'rgb(128, 128, 128)',
    10: 'rgb(128, 0, 0)'
}


fig = ff.create_gantt(df, colors=colors, index_col='Resource', show_colorbar=True, group_tasks=True)
py.iplot(fig, filename='gantt-group-tasks-together', world_readable=True)
'''

"\ndf = []\nfor task in global_obtained_sol:\n    data = create_data_frame(task.start, task.end)\n    df.append(dict(\n        Task=str(task.job_num),\n        Start=data[0],\n        Finish=data[1],\n        Resource=task.machine_num\n    ))\n\ncolors = {\n    0: 'rgb(0, 0, 0)',\n    1: 'rgb(128, 0, 128)',\n    2: 'rgb(255, 0, 0)',\n    3: 'rgb(0, 255, 0)',\n    4: 'rgb(0, 0, 255)',\n    5: 'rgb(255, 255, 0)',\n    6: 'rgb(0, 255, 255)',\n    7: 'rgb(255, 0, 255)',\n    8: 'rgb(192, 192, 192)',\n    9: 'rgb(128, 128, 128)',\n    10: 'rgb(128, 0, 0)'\n}\n\n\nfig = ff.create_gantt(df, colors=colors, index_col='Resource', show_colorbar=True, group_tasks=True)\npy.iplot(fig, filename='gantt-group-tasks-together', world_readable=True)\n"

In [6280]:
machine_table = {}
machine_table['Пила'] = [0]
machine_table['Плазменная'] = [1]
machine_table['Токарный'] = [2, 3]
machine_table['Фрезерный'] = [4, 5]
machine_table['Сверление'] = [6, 7]
machine_table['Сварка'] = [8]
machine_table['Окраска'] = [9]

In [6281]:
# making good legend
machine_name = {}
machine_name[0] = 'Пила'
machine_name[1] = 'Плазменная'
machine_name[2] = 'Токарный_0'
machine_name[3] = 'Токарный_1'
machine_name[4] = 'Фрезерный_0'
machine_name[5] = 'Фрезерный_1'
machine_name[6] = 'Сверление_0'
machine_name[7] = 'Сверление_1'
machine_name[8] = 'Сварка'
machine_name[9] = 'Окраска'

In [6282]:
def obtain_path(path_name):
    paths = []
    for name in path_name:
        new_paths = []
        if len(paths) == 0:
            for machine in machine_table[name]:
                new_paths.append([machine])
        else:
            for p in paths:
                for machine in machine_table[name]:
                    new_paths.append(p + [machine])
        paths = new_paths
    return paths

In [6283]:
obtain_path(['Пила', 'Плазменная'])

[[0, 1]]

In [6284]:
import pandas as pd
import numpy as np
file_name = 'Khakaton.xlsx'
products = pd.read_excel(open('Khakaton.xlsx', 'rb'), sheet_name=u'Перечень и состав изделий')
prods_num = pd.read_excel(open('Khakaton.xlsx', 'rb'), sheet_name=u'Необходимое кол-во изделий')
equipment = pd.read_excel(open('Khakaton.xlsx', 'rb'), sheet_name=u'Оборудование')
lines = pd.read_excel(open('Khakaton.xlsx', 'rb'), sheet_name=u'маршрут изготовления', header=2)                  
process_time = pd.read_excel(open('Khakaton.xlsx', 'rb'), sheet_name=u'нормы времени (мин.)')
adjustment_time = pd.read_excel(open('Khakaton.xlsx', 'rb'), sheet_name=u'Время на наладку оборудования')
submisson = pd.read_excel(open('Khakaton.xlsx', 'rb'), sheet_name=u'мой вспомогательный')

In [6285]:
all_the = [products, prods_num, equipment, lines, process_time, adjustment_time]

In [6286]:
for i in all_the:
    print(i.shape)

(72, 2)
(103, 3)
(10, 3)
(72, 7)
(72, 9)
(72, 9)

In [6287]:
products.head()

     N  nomenclature
0  1.0  Переходник 1
1  1.1      Муфта А1
2  1.2      Муфта А2
3  2.0  Переходник 2
4  2.1      Муфта Б1

In [6288]:
prods_num.head()

     N  nomenclature  number
0  1.0  Переходник 1      10
1  1.1      Муфта А1      10
2  1.2      Муфта А2      10
3  2.0  Переходник 2      10
4  2.1      Муфта Б1      10

In [6289]:
equipment.head()

   N    machine              type
0  1  Станок №1              Пила
1  2  Станок №2  Плазменная резка
2  3  Станок №3        Токарный 1
3  4  Станок №4        Токарный 2
4  5  Станок №5       Фрезерный 1

In [6290]:
lines.head()

     N  nomenclature operation1 operation2 operation3 operation4 operation5
0  1.0  Переходник 1     Сварка    Окраска        NaN        NaN        NaN
1  1.1      Муфта А1       Пила   Токарный  Фрезерный  Сверление        NaN
2  1.2      Муфта А2       Пила   Токарный  Фрезерный  Сверление        NaN
3  2.0  Переходник 2     Сварка    Окраска        NaN        NaN        NaN
4  2.1      Муфта Б1       Пила   Токарный  Фрезерный  Сверление        NaN

In [6291]:
process_time.head()

,N,nomenclature,saw,plazma,turning,milling,drilling,welding,painting
0,1.0,Переходник 1,NaN,NaN,NaN,NaN,NaN,25.0,10.0
1,1.1,Муфта А1,1.0,NaN,3.0,5.0,5.0,NaN,NaN
2,1.2,Муфта А2,1.0,NaN,3.0,5.0,5.0,NaN,NaN
3,2.0,Переходник 2,NaN,NaN,NaN,NaN,NaN,35.0,10.0
4,2.1,Муфта Б1,1.0,NaN,3.0,5.0,1.0,NaN,NaN

In [6292]:
adjustment_time.head()

,N,nomenclature,saw,plazma,turning,milling,drilling,welding,painting
0,1.0,Переходник 1,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1,1.1,Муфта А1,5.0,NaN,10.0,15.0,1.0,NaN,NaN
2,1.2,Муфта А2,5.0,NaN,10.0,15.0,1.0,NaN,NaN
3,2.0,Переходник 2,NaN,NaN,NaN,NaN,NaN,0.0,0.0
4,2.1,Муфта Б1,5.0,NaN,10.0,15.0,1.0,NaN,NaN

In [6293]:
N = 72 # overall number of elements
elements_parts = [products, lines, process_time, adjustment_time]

In [6294]:
products_np = products.values
lines_np = lines.values
process_time_np = process_time.values
adjustment_time_np = adjustment_time.values
prods_num_np = prods_num.values

In [6295]:
elements = []

In [6296]:
ht = {}
ht['Пила'] = 2
ht['Плазменная'] = 3
ht['Токарный'] = 4
ht['Фрезерный'] = 5
ht['Сверление'] = 6
ht['Сварка'] = 7
ht['Окраска'] = 8

In [6297]:
class Detail():
    def __init__(self, name, path, proc_time, adj_time):
        self.name = name    
        self.path = path   
        self.proc_time = proc_time
        self.adj_time = adj_time

In [6298]:
details = []

In [6299]:
for i in range(N):
    number = i
    name = products_np[i][1]
    path = []
    for path_part in lines_np[i][2:]:
        if path_part == path_part:
            path.append(path_part)
    proc_time = []
    adj_time = []
    
    for _ in path:
        proc_time.append(process_time_np[i][ht[_]])
        adj_time.append(adjustment_time_np[i][ht[_]])
        
    new_element = Detail(name, path, proc_time, adj_time)
    details.append(new_element)

In [6300]:
d = details[25]
print('name = {} path = {} proc_time = {} adj_time = {}'.format(d.name, d.path, d.proc_time, d.adj_time))

name = Втулка 5Д path = ['Пила', 'Токарный', 'Фрезерный'] proc_time = [2.0, 5.0, 5.0] adj_time = [5.0, 5.0, 5.0]

In [6301]:
name_to_id = {}

In [6302]:
for idx, i in enumerate(details):
    name_to_id[i.name] = idx

In [6303]:
# MAIN PART OF THE ALGORITM !!!

In [6304]:
order = []

In [6305]:
N_correct = 50

In [6306]:
for i in range(N_correct):
    order.append((name_to_id[prods_num_np[i][1]], prods_num_np[i][2]))

In [6307]:
# Simple Case
full_order = list(order)
banned = [0, 3, 6, 13, 20] 
for i in range(len(banned) - 1, -1, -1):
    del order[banned[i]]

In [6308]:
# The most important part

In [6309]:
tasks =  []

In [6310]:
# Task is a pair of 2 integers: 
# Number of the machine
# The length of the task
# Job is an ordered tuple of tasks

In [6311]:
def create_job(task_id, num_of_tasks): # 
    task = details[task_id]
    path = task.path
    proc_time = task.proc_time
    adj_time = task.adj_time
    name = task.name
    
    job = []
    
    paths_to_leaf = obtain_path(path)
    
    # Choosing path
    import random
    chosen_path = paths_to_leaf[random.randint(0, len(paths_to_leaf) - 1)]
    
    
    for i in range(len(path)):
        adjustment = (chosen_path[i], int(adj_time[i]))
        task = (chosen_path[i], int(proc_time[i] * num_of_tasks))
        job.append(adjustment)
        job.append(task)
    return job

In [6312]:
def create_job_clever(task_id, num_of_tasks): 
    task = details[task_id]
    path = task.path
    proc_time = task.proc_time
    adj_time = task.adj_time
    name = task.name
    
    job = []
    
    paths_to_leaf = obtain_path(path)
    
    if len(paths_to_leaf) == 1:
        return (1, create_job(task_id, num_of_tasks))
    
    # Choosing path_0
    import random
    chosen_path_0 = paths_to_leaf[random.randint(0, len(paths_to_leaf) - 1)]
    
    total_proc_time = 0
    total_adj_time = 0
    for i in range(len(path)):
        total_proc_time += proc_time[i] * num_of_tasks
        total_adj_time += adj_time[i]
    
    eps = 0.1
    if total_adj_time > eps * total_proc_time:
        for i in range(len(path)):
            adjustment = (chosen_path_0[i], int(adj_time[i]))
            task = (chosen_path_0[i], int(proc_time[i] * num_of_tasks))
            job.append(adjustment)
            job.append(task)
        return (1, job)
    else:
        chosen_path_1 = paths_to_leaf[random.randint(0, len(paths_to_leaf) - 1)]
        job_0 = []
        job_1 = []
        for i in range(len(path)):
            adjustment_0 = (chosen_path_0[i], int(adj_time[i]))
            adjustment_1 = (chosen_path_1[i], int(adj_time[i]))
            
            task_0 = (chosen_path_0[i], int(proc_time[i] * num_of_tasks // 2))
            job_0.append(adjustment_0)
            job_0.append(task_0)
            
            task_1 = (chosen_path_1[i], int(proc_time[i] * (num_of_tasks - num_of_tasks // 2)))
            job_1.append(adjustment_1)
            job_1.append(task_1)

        return (2, job_0, job_1)

In [6313]:
mvp = []

In [6314]:
max_len = len(order)
print(max_len)

45

In [6315]:
def clever_algo(start, end):
    max_len = len(order)

    for i in range(start, end):
        #task = create_job(order[i][0], order[i][1])

        n_task = create_job_clever(order[i][0], order[i][1])
        if n_task[0] == 1:
            mvp.append(n_task[1])
        elif n_task[0] == 2:
            mvp.append(n_task[1])
            mvp.append(n_task[2])
        #mvp.append(task)

In [6316]:
def stupid_algo(start, end):
    max_len = len(order)

    for i in range(start, end):
        task = create_job(order[i][0], order[i][1])
        mvp.append(task)

In [6317]:
if clever:
    clever_algo(start_test, end_test)
else:
    stupid_algo(start_test, end_test)

In [6318]:
print(mvp)

[[(0, 5), (0, 10), (2, 10), (2, 30), (4, 15), (4, 50), (6, 1), (6, 50)], [(0, 5), (0, 10), (3, 10), (3, 30), (4, 15), (4, 50), (6, 1), (6, 50)], [(0, 5), (0, 10), (2, 10), (2, 30), (4, 15), (4, 50), (7, 1), (7, 10)], [(0, 5), (0, 10), (2, 10), (2, 20), (4, 15), (4, 50), (7, 1), (7, 10)], [(5, 25), (5, 120), (2, 10), (2, 75), (6, 10), (6, 30)], [(4, 25), (4, 120), (3, 10), (3, 75), (7, 10), (7, 30)], [(0, 5), (0, 15), (3, 10), (3, 105)], [(0, 5), (0, 15), (2, 10), (2, 105)], [(0, 5), (0, 30), (3, 10), (3, 120), (6, 1), (6, 75)], [(0, 5), (0, 30), (3, 10), (3, 120), (6, 1), (6, 75)], [(0, 5), (0, 30), (3, 10), (3, 90)], [(0, 5), (0, 30), (3, 10), (3, 90)], [(0, 5), (0, 30), (2, 10), (2, 75), (4, 5), (4, 135)], [(0, 5), (0, 30), (2, 10), (2, 75), (5, 5), (5, 135)], [(0, 5), (0, 30), (3, 10), (3, 30), (4, 5), (4, 180)], [(0, 5), (0, 30), (2, 10), (2, 30), (5, 5), (5, 180)]]

In [6319]:
global_sol = Solution()

In [6320]:
MinimalJobshopSat(mvp)

Optimal Schedule Length: 755

Optimal Schedule

Machine 0: job_1_0   job_1_1   job_2_0   job_3_0   job_3_1   job_6_0   job_6_1   job_0_0   job_2_1   job_7_0   job_7_1   job_8_0   job_8_1   job_9_0   job_9_1   job_10_0  job_10_1  job_11_0  job_11_1  job_12_0  job_12_1  job_13_0  job_13_1  job_0_1   job_14_0  job_14_1  job_15_0  job_15_1
Machine 1:
Machine 2: job_3_2   job_3_3   job_2_2   job_2_3   job_7_2   job_4_2   job_4_3   job_12_2  job_12_3  job_0_2   job_13_2  job_15_2  job_15_3  job_0_3   job_13_3  job_7_3
Machine 3: job_1_2   job_1_3   job_6_2   job_6_3   job_8_2   job_9_2   job_9_3   job_10_2  job_11_2  job_5_2   job_5_3   job_11_3  job_14_2  job_14_3  job_8_3   job_10_3
Machine 4: job_5_0   job_5_1   job_1_4   job_2_4   job_3_4   job_3_5   job_1_5   job_2_5   job_12_4  job_12_5  job_0_4   job_0_5   job_14_4  job_14_5
Machine 5: job_4_0   job_4_1   job_15_4  job_15_5  job_13_4  job_13_5
Machine 6: job_4_4   job_4_5   job_1_6   job_9_4   job_9_5   job_1_7   job_0_6   job_0_7   job_8_4   job_8_5
Machine 7: job_3_6   job_3_7   job_2_6   job_2_7   job_5_4   job_5_5

Task Time Intervals

Machine 0: [0,5] [5,15] [15,20] [20,25] [25,35] [35,40] [40,55] [55,60] [60,70] [70,75] [75,90] [90,95] [95,125] [125,130] [130,160] [160,165] [165,195] [195,200] [200,230] [230,235] [235,265] [265,270] [270,300] [300,310] [310,315] [315,345] [345,350] [350,380]
Machine 1:
Machine 2: [35,45] [45,65] [70,80] [80,110] [110,120] [145,155] [155,230] [265,275] [275,350] [350,360] [360,370] [380,390] [390,420] [431,461] [461,536] [536,641]
Machine 3: [15,25] [25,55] [55,65] [65,170] [170,180] [180,190] [190,310] [310,320] [320,330] [330,340] [340,415] [415,505] [505,515] [515,545] [545,665] [665,755]
Machine 4: [0,25] [25,145] [145,160] [160,175] [175,190] [190,240] [240,290] [290,340] [350,355] [355,490] [490,505] [505,555] [555,560] [560,740]
Machine 5: [0,25] [25,145] [420,425] [425,605] [605,610] [610,745]
Machine 6: [230,240] [240,270] [290,291] [310,311] [311,386] [386,436] [555,556] [556,606] [665,666] [666,741]
Machine 7: [240,241] [241,251] [340,341] [341,351] [415,425] [425,455]

In [6321]:
global_obtained_sol = []
obtain_sol_line_tasks()

In [6322]:
# First level

df = []
for task in global_obtained_sol:
    data = create_data_frame(task.start, task.end)
    df.append(dict(
        Task=str(task.job_num),
        Start=data[0],
        Finish=data[1],
        Resource=machine_name[task.machine_num]
    ))

colors = {
    'Пила': 'rgb(0, 0, 0)',
    'Плазменная': 'rgb(128, 0, 128)',
    'Токарный_0': 'rgb(255, 0, 0)',
    'Токарный_1': 'rgb(0, 255, 0)',
    'Фрезерный_0': 'rgb(0, 0, 255)',
    'Фрезерный_1': 'rgb(255, 255, 0)',
    'Сверление_0': 'rgb(0, 255, 255)',
    'Сверление_1': 'rgb(255, 0, 255)',
    'Сварка': 'rgb(192, 192, 192)',
    'Окраска': 'rgb(128, 128, 128)',
}


#fig = ff.create_gantt(df, colors=colors, index_col='Resource', show_colorbar=True, group_tasks=True)
#py.iplot(fig, filename='gantt-group-tasks-together', world_readable=True)

In [6323]:
# Lets draw individual graphs for each machine

In [6324]:
N = 5 # machine num
df = []
for task in global_obtained_sol:
    if task.machine_num == N:
        data = create_data_frame(task.start, task.end)
        df.append(dict(
            Task=str(task.job_num),
            Start=data[0],
            Finish=data[1],
            Resource=machine_name[task.machine_num]
        ))

colors = {
    'Пила': 'rgb(0, 0, 0)',
    'Плазменная': 'rgb(128, 0, 128)',
    'Токарный_0': 'rgb(255, 0, 0)',
    'Токарный_1': 'rgb(0, 255, 0)',
    'Фрезерный_0': 'rgb(0, 0, 255)',
    'Фрезерный_1': 'rgb(255, 255, 0)',
    'Сверление_0': 'rgb(0, 255, 255)',
    'Сверление_1': 'rgb(255, 0, 255)',
    'Сварка': 'rgb(192, 192, 192)',
    'Окраска': 'rgb(128, 128, 128)',
}



#fig = ff.create_gantt(df, colors=colors, index_col='Resource', show_colorbar=True, group_tasks=True)
#py.iplot(fig, filename='gantt-group-tasks-together', world_readable=True)

In [6325]:
# First level time
final_time = global_sol.time[0]
global_sol.time[0]

755.0

In [6326]:
# Finally, lets create complex details

In [6327]:
not_banned = [0, 3, 6, 13, 20]
order = full_order

for i in range(len(order) - 1, -1, -1):
    if i not in not_banned:
        del order[i]
        
print(order)

[(0, 10), (3, 10), (6, 30), (13, 5), (20, 5)]

In [6328]:
tasks = []
mvp = []
stupid_algo(0, len(order))

global_sol = Solution()

In [6329]:
MinimalJobshopSat(mvp)

Optimal Schedule Length: 2850

Optimal Schedule

Machine 0:
Machine 1:
Machine 2:
Machine 3:
Machine 4:
Machine 5:
Machine 6:
Machine 7:
Machine 8: job_0_0   job_0_1   job_1_0   job_2_0   job_3_0   job_4_0   job_1_1   job_2_1   job_3_1   job_4_1
Machine 9: job_0_2   job_0_3   job_1_2   job_1_3   job_2_2   job_2_3   job_3_2   job_3_3   job_4_2   job_4_3

Task Time Intervals

Machine 0:
Machine 1:
Machine 2:
Machine 3:
Machine 4:
Machine 5:
Machine 6:
Machine 7:
Machine 8: [0,0] [0,250] [0,0] [0,0] [0,0] [0,0] [250,600] [600,2250] [2250,2525] [2525,2800]
Machine 9: [250,250] [250,350] [600,600] [600,700] [2250,2250] [2250,2550] [2550,2550] [2550,2600] [2800,2800] [2800,2850]

In [6330]:
global_obtained_sol = []
obtain_sol_line_tasks()

In [6331]:
# Second level

df = []
for task in global_obtained_sol:
    data = create_data_frame(task.start, task.end)
    df.append(dict(
        Task=str(task.job_num),
        Start=data[0],
        Finish=data[1],
        Resource=machine_name[task.machine_num]
    ))


colors = {
    'Пила': 'rgb(0, 0, 0)',
    'Плазменная': 'rgb(128, 0, 128)',
    'Токарный_0': 'rgb(255, 0, 0)',
    'Токарный_1': 'rgb(0, 255, 0)',
    'Фрезерный_0': 'rgb(0, 0, 255)',
    'Фрезерный_1': 'rgb(255, 255, 0)',
    'Сверление_0': 'rgb(0, 255, 255)',
    'Сверление_1': 'rgb(255, 0, 255)',
    'Сварка': 'rgb(192, 192, 192)',
    'Окраска': 'rgb(128, 128, 128)',
}


#fig = ff.create_gantt(df, colors=colors, index_col='Resource', show_colorbar=True, group_tasks=True)
#py.iplot(fig, filename='gantt-group-tasks-together', world_readable=True)

In [6332]:
print(global_sol.time[0])
final_time += global_sol.time[0]

2850.0

In [6333]:
# FINAL ANSWER
print('The overall time equals: {} mins'.format(str(final_time)))

The overall time equals: 3605.0 mins